<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Books</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>

<body>
    <h2>Search Books by Pages</h2>
    <input type="number" id="pageQuery" placeholder="Enter min pages" required>
    <button onclick="queryBooks()">Search</button>
    <ul id="book-results"></ul>
    <h3>Or</h3>
    <h2>Search Authors by Age</h2>
    <input type="number" id="ageQuery" placeholder="Enter min Age" required>
    <button onclick="queryAuthors()">Search</button>
    <ul id="author-results"></ul>

    <script src="/public/script.js"></script>
</body>

</html>